<div id="container-captcha">

    <h1>Calibration</h1>

    <hr>

    <div class="instructions well">
        <div class="alert alert-warning">
            <b>Note:</b> If you close or reload this window, you will not be allowed to return to the experiment.
        </div>
        <p>
            Before we begin the experiment, please find a quiet space and/or put on headphones. This is a listening task, so make sure your volume is adjusted to a comfortable level. To get started, please complete the audio Captcha below.
        </p>
        <br />

        <div id="recaptcha_widget" class="clearfix">
            <div id="spinner_wrapper"></div>
            <div id="recaptcha_image" style="display:hidden;position:absolute; left:-5000px;"></div>
        
            <div class="col-left clearfix">
            <button type="button" id="playNewCaptcha" class="btn btn-primary" data-placement="bottom" data-content="Sorry, your response was incorrect. Click here to try again.">
                <span class="glyphicon glyphicon-play"></span> <span class="message">Play sound</span>
            </button>

            <button type="button" id="replayCaptcha" class="btn">
                <span class="glyphicon glyphicon-repeat"></span> Replay 
            </button>
            </div>
            
            <div class="col-right">
                <span>Enter the numbers you hear:</span> 
                <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" />
                <div><a href="javascript:Recaptcha.showhelp()"><small>from the reCaptcha project</small></a></div>
            </div>

        </div>

        <div id="row" class="clearfix">
        <button type="button" id="noSound" class="btn btn-link pull-right" data-toggle="modal" data-target="#soundModal">
             <span class="glyphicon glyphicon-warning-sign"></span> Help! I can't hear anything.</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="soundModal" tabindex="-1" >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Troubleshooting Your Sound</h4>
              </div>
              <div class="modal-body">
                There are a couple things you should check on:
                <dl>
                    <dt>Internet Connection</dt>
                        <dd>Is the Captcha still spinning? You may have lost your internet connection.</dd>
                    <dt>Speakers</dt>
                        <dd>Is your system volume and speaker volume set correctly? Is anything on mute?</dd>
                    <dt>Adobe Flash Player</dt>
                        <dd>Do you have <a href="http://get.adobe.com/flashplayer/"target="_blank">Flash Player</a> installed?</dd>
                </dl>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">

            </div>
        <div class="col-xs-8">
                <center>
                    <button type="button" id="next" value="next" class="btn btn-success btn-lg continue" disabled>
                    Check Captcha & Continue <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </center>
        </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>
</div>
