<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <hr>

    <p>You are finished!  Thank you for your contributions to science. You will be eligible for full payment once you answer the following questions.</p>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    Do you speak a language other than English?
                </div>
                <div class="col-md-4">
                    <input type="radio" value="yes" id="multilingualYes" name="multilingual" /><label for="multilingualYes">Yes</label>
                    <input type="radio" value="no" id="multilingualNo" name="multilingual" /><label for="multilingualNo">No</label>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    What was the first language you learned how to speak?
                </div>
                <div class="col-md-4">
                    <input type="radio" value="English" id="firstlangEng" name="firstlang" /><label for="firstlangEng">English</label>
                    <input type="radio" value="notEnglish" id="firstlangNotEng" name="firstlang" /><label for="firstlangNotEng">Not English</label>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    Currently, what language do you use most?
                </div>
                <div class="col-md-4">
                    <input type="radio" value="English" id="useEng" name="usemost" /><label for="useEng">English</label>
                    <input type="radio" value="notEnglish" id="useNotEng" name="usemost" /><label for="useNotEng">Not English</label>
                </div>
            </div>
            <!-- end of a question -->

        </form>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled >
                    Finish <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
