<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">
        <p>
            Thanks! In this task you will hear noisy recordings of single words. Listen closely and try to identify each word.
        </p>        

        <p>
            Type your answer in the text box and press <kbd>Enter</kbd> to advance to the next audio snippet.
        </p>
        <p>
            Do your best to guess when you are unsure. Press "Begin Practice" to do a couple practice trials.
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin Practice <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
