<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">
        <p>
            Thanks! In this task you will hear strings of speech. Listen closely and decide whether the sounds form a real English word. 
        </p>        

        <p>
            <strong>If the sounds do <span style="font-style: italic;">not</span> form a real word, press <kbd>Tab &#8633;</kbd>. If they do, press <kbd>\</kbd></strong> (Backslash, the key above the "Enter" key). For example, if you hear "block," press <kbd>Tab &#8633;</kbd>, but if you hear "deef," press <kbd>\</kbd>.
        </p>
        <p>
            Respond as quickly and accurately as possible. Press "Begin Practice" to try some practice.
        </p>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin Practice <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
