<div id="container-fullscrn">
	<h1>Go Full Screen</h1>
	<hr>
	<div class="instructions well">
		<p>Nice work! Next, click the button below to enter full screen mode. Click "accept" if prompted.</p>
        <div class="row">
        <button type="button" class="btn btn-primary goFullScreen">
			Enter Full Screen</button>
		</div>
	</div>
	<hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">

            </div>
        <div class="col-xs-8">
                <center>
                    <button type="button" id="next" value="next" class="btn btn-success btn-lg continue" disabled>
                    Waiting for full screen... </span>
                    </button>
                </center>
        </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>
</div>

<!-- <span class="glyphicon glyphicon-arrow-right"> -->